* {

    margin: 0;
    padding: 0;
}

body {

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #191970;
    color: #ffffff;
}

.tab {

    margin-left: 40px;
}

.header-container {

    width: 100%;
    height: 800px;
    display: grid;
    grid-template: repeat(50, 1fr) / repeat(50, 1fr);
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    z-index: 10;
}

.title {

    grid-column: 3 / 14;
    grid-row: 4 / 8;
}

.arrow {

    grid-column: 46 / 47;
    grid-row: 4 / 8;
}

.header-container nav {

    grid-column: 46 / 47;
    grid-row: 9 / 18;
    text-align: center;
    display: none;
}

.header-container ul {

    list-style-type: none;

}

.header-container li {

    margin: 20px 0;
}

.intro {

    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro h2 {

    font-size: 5rem;
    text-shadow: 10px 10px #252424;
}

.intro span {

    display: none;
}

.scroll-container {

    width: 100%;
    height: 600px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll-card {

    width: 40%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    border-radius: 10%;
    margin-left: 30px;
}

.scroll-card h2 {

    padding-top: 100px;
    font-size: 2rem;
}

.scroll-card p {

    margin: 50px 30px;
    line-height: 1.6;
    font-size: 1.2rem;
}